.personal-info {
  background: #393b3fa6 !important;
  color: white !important;
  width: 100% !important;
}

.personal-info > .content > .header {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  color: white !important;
}

.personal-info > .content > .header > small {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-style: italic;
}

.content{
  background-color: antiquewhite !important;
}
.employee-des {
  color: white !important;
  width: 100% !important;
}

.employee-des > .content > .header {
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap !important;
  color: white !important;
}

.employee-des > .content > .header > small {
  font-size: 12px !important;
  font-weight: 600 !important;
  font-style: italic;
}

.certification-container {
  margin:8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.skill-height-container {
  max-height: 36rem !important;
  overflow: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 5px;
  background-color:white;
  color: black;
  border-color:orange;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content-list{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button:hover {
  background-color: orange;
}

.list-items{
  box-shadow: rgba(0, 0, 0, 0.15) 5.95px 4.95px 5.6px !important;
    background-color: #fff6f09c !important;
    margin-bottom: 15px !important;
    border-left: 3px solid orange !important;
    display: flex;
    flex-direction: row; 
}
.info-style{
  font-weight: bold;
  background-color: blanchedalmond !important;
}

.education{
  box-shadow: 1.05px 1.05px orange !important;
}
