.modal-styling {
  background-color: rgb(255, 255, 255);
  overflow: auto;
  position: relative;
  height: auto;
  width: auto;
  max-width: 700px;
  max-height: 570px;
  margin: auto;
  top: 50px;
  border-radius: 5px;
}
.commit-date-style{
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.divider {
  border-top: 1px dotted lightgray;
}
.icon {
  position: absolute;
  right: 5px;
}
.m-0{
  margin:0;
}
.font-italic{
  font-style: italic;
}
.navbar {
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}


.inner-div {
  margin: 10px;
}
.message-style{
  font-size:16px;
  color: black; 
  font-weight: lighter;
}
.message-style:hover{
  text-decoration: underline;
}
.assignee-box{
  padding:4px !important;

}

.ticket-meta{
  display: flex;
  justify-content: space-between;

}
.ticket-meta-right{
  min-width: 26%;
}

.author-info{
  display: flex;
  flex-wrap: wrap-reverse;
}
.user-icon{
  position:relative !important;
  right: 0 !important;
  margin-right: 8px !important;
    margin-bottom: 6px !important;
}
.commit-info{
  box-shadow: 1px 1px gray;
  margin-bottom: 10px;
}